nav.navbar.is-transparent.has-shadow.is-spaced
  .navbar-brand
    a.navbar-item(href='https://bulma.io')
      include ./logo.pug
    .navbar-burger.burger(data-target='navbarExampleTransparentExample')
      span
      span
      span
  #navbarExampleTransparentExample.navbar-menu
    .navbar-start
      a.navbar-item(href='https://bulma.io/')
        | Home
      a.navbar-item(href='/work')
        | Work
      a.navbar-item(href='https://bulma.io/')
        | About
      a.navbar-item(href='https://bulma.io/')
        | Contact