extends layout

block content
  section.hero.is-medium.intro
    .hero-body
      .container
        h1.is-size-1 Hola! I'm Matthew Frederick
        p.is-size-5 I've has been 
          span.shadow.is-danger writing ads 
          span and 
          span.shadow.is-turquoise creating web copy 
          since before there was a web. 
        p.is-size-5 Take a look around; if you like what you see, contact him.