extends layout

block content
  section.section
    .container
      .tabs.is-large
        ul
          li.is-active
            a All
          li
            a Web
          li
            a Print
          li
            a Editorial
          li
            a Video
          li
            a Emails
      .content
        .columns
          .column
            .card
              .card-content
                .title Example 1
                .subtitle Some Content Here
          .column
            .card
              .card-content
                .title Example 2
                .subtitle Some Content Here